# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
Source: sqoop2
Section: misc
Priority: extra
Maintainer: Bigtop <dev@bigtop.apache.org>
Standards-Version: 3.8.0
Homepage: http://sqoop.apache.org

Package:  sqoop2
Architecture: all
Depends: bigtop-utils (>= 0.7), hadoop-client, bigtop-tomcat (>= 0.7), sqoop2-client (= ${source:Version})
Description: Tool for easy imports and exports of data sets between databases and the Hadoop ecosystem
 Sqoop is a tool that provides the ability to import and export data sets between
 the Hadoop Distributed File System (HDFS) and relational databases. In Sqoop 2, the tool
 consists of a server that is configured to interface with the Hadoop cluster, and a
 lightweight client for executing imports and exports on the server.

Package: sqoop2-client
Architecture: all
Depends: bigtop-utils (>= 0.7)
Description: Lightweight client for Sqoop 2.

Package: sqoop2-server
Architecture: all
Depends: sqoop2 (= ${source:Version})
Description: Server for Sqoop 2.
