# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Documentation=https://hadoop.apache.org/
Description=Hadoop MapReduce HistoryServer
Before=multi-user.target
Before=graphical.target
After=remote-fs.target

[Service]
User=mapred
Group=mapred
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=no
RuntimeDirectory=hadoop-mapreduce
SuccessExitStatus=5 6
ExecStart=/usr/bin/mapred --config /etc/hadoop/conf --daemon start historyserver
ExecStop=/usr/bin/mapred --config /etc/hadoop/conf --daemon stop historyserver

[Install]
WantedBy=multi-user.target

