### WARNING:
### actual site.csv file shouldn't contain lines starting with '#'
### It will cause the parse to choke.
### End of WARNING
### This file needs to be customized to reflect the configuration of your cluster
### Store it as $BIGTOP_DEPLOY_PATH/config/site.csv
### use --confdir=$BIGTOP_DEPLOY_PATH (see README for more info)
# FQDN of Namenode
hadoop_head_node,hadoopmaster.example.com
# FQDN of standby node (for HA)
#standby_head_node,standbyNN.example.com
# FQDN of gateway node (if separate from NN)
#standby_head_node,gateway.example.com
# Storage directories (will be created if doesn't exist)
hadoop_storage_dirs,/data/1,/data/2,/data/3,/data/4
bigtop_yumrepo_uri,http://mirror.example.com/path/to/mirror/
# A list of stack' components to be deployed can be specified via special
# "$components" list. If $components isn't set then everything in the stack will
# be installed as usual. Otherwise only a specified list will be set
# Possible elements:
# hadoop,yarn,hbase,tachyon,flume,solrcloud,spark,oozie,hcat,sqoop,httpfs,
# hue,mahout,giraph,crunch,pig,hive,zookeeper
# Example (to deploy only HDFS and YARN server and gateway parts)
#components,hadoop,yarn
# Test-only variable controls if user hdfs' sshkeys should be installed to allow
# for passwordless login across the cluster. Required by some integration tests
#testonly_hdfs_sshkeys=no

