# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

Source: logstash
Section: misc
Priority: extra
Maintainer: Apache Bigtop <dev@bigtop.apache.org>
Build-Depends: debhelper (>= 7.0.50~)
Version: 5.4.1
Standards-Version: 3.8.0
Homepage: https://www.elastic.co/

Package: logstash
Architecture: all
Depends: bigtop-utils (>= 0.7)
Description: Logstash is an open source, server-side data
 processing pipeline that ingests data from a multitude of
 sources simultaneously, transforms it, and then sends it
 to your favorite "stash."
