Source: whirr
Section: misc
Priority: extra
Maintainer: Tom White <tom@cloudera.com>
Build-Depends: debhelper (>= 6), sun-java6-jdk, git-core
Standards-Version: 3.8.0
Homepage: http://incubator.apache.org/whirr

Package:  whirr
Architecture: all
Depends: sun-java6-jre 
Description: Scripts and libraries for running software services on cloud infrastructure
 Whirr provides
 .
  * A cloud-neutral way to run services. You don't have to worry about the
    idiosyncrasies of each provider.
  * A common service API. The details of provisioning are particular to the
    service.
  * Smart defaults for services. You can get a properly configured system
    running quickly, while still being able to override settings as needed.
