# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

Source: qfs
Section: misc
Priority: extra
Maintainer: Apache Bigtop <dev@bigtop.apache.org>
Build-Depends: cmake, libboost-regex-dev, xfslibs-dev, libssl-dev, python2.7-dev | python3-dev, libfuse-dev, dh-python, debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Homepage: https://quantcast.github.io/qfs

Package: qfs
Depends: qfs-client (= ${binary:Version}), qfs-chunkserver (= ${binary:Version}), qfs-metaserver (= ${binary:Version}), qfs-dev (= ${binary:Version}), qfs-fuse (= ${binary:Version}), qfs-hadoop (= ${binary:Version}), qfs-java (= ${binary:Version}), qfs-python (= ${binary:Version}), qfs-webui (= ${binary:Version})
Architecture: any
Description: Metapackage for all QFS components
 Quantcast File System (QFS) is a high-performance, fault-tolerant, distributed
 file system developed to support MapReduce processing, or other applications
 reading and writing large files sequentially.

Package: qfs-client
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Architecture: any
Description: Client binaries and libraries used to link against qfs
 This package provides base client binaries and libraries used to interact with
 a running qfs cluster and link against qfs APIs to build your own software that
 interacts with a running qfs cluster.

Package: qfs-chunkserver
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: logrotate
Architecture: any
Description: Executables required to run the Quantcast File System chunkserver
 The QFS chunkserver service hosts the binary contents of the QFS distributed
 filesystem.  A metaserver coordinates many data nodes running this service,
 replicating data amongst chunkservers in a redundant fashion.

Package: qfs-metaserver
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: logrotate
Architecture: any
Description: Executables required to run the Quantcast File System metaserver
 This package contains the executables required to run the Quantcast File System
 metaserver service, which tracks the location of data chunks distributed across
 QFS chunkservers.

Package: qfs-dev
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Files needed for building Quantcast File System-based applications
 The QFS devel package contains the headers, static libraries, and developer
 tool binaries required to develop applications which build against QFS.

Package: qfs-fuse
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Support for mounting the Quantcast File System under FUSE
 This package contains the qfs_fuse executable which is required when mounting
 QFS distributed filesystems under FUSE.

Package: qfs-hadoop
Depends: ${misc:Depends}
Architecture: any
Description: Quantcast File System plugin JAR for Hadoop
 This package contains a plugin JAR to enable QFS to serve as a drop-in
 replacement for HDFS under Hadoop.

Package: qfs-java
Depends: ${misc:Depends}
Architecture: any
Description: Java libraries for accessing the Quantcast File System
 This package contains a JAR which enables Java applications to access QFS via
 its JNI interface.

Package: qfs-python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Architecture: any
Description: Python libraries for accessing the Quantcast File System
 This package contains the libraries required to access the Quantcast File
 System libraries via Python.

Package: qfs-webui
Depends: ${misc:Depends}, ${misc:Depends}, python
Recommends: logrotate
Architecture: all
Description: Quantcast File System metaserver/chunkserver web frontend
 This package contains several Python scripts which provide a simple Hadoop-like
 Web UI for viewing Quantcast File Server chunkserver and metaserver status.
