# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

Source: hue
Section: misc
Priority: extra
Maintainer: Apache Bigtopr <dev@bigtop.apache.org>
Build-Depends: debhelper (>= 7.0.50~), python2.4-dev | python2.5-dev | python2.6-dev | python2.7-dev, libxml2-dev, libxslt1-dev, zlib1g-dev, libsqlite3-dev, libldap2-dev, libsasl2-dev, libmysqlclient-dev, make, python-setuptools, libkrb5-dev
Depends: libsasl2, libsqlite3, zlib1g, libxslt1, libxml2
Standards-Version: 3.8.0
Homepage: http://github.com/cloudera/hue

Package: hue-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${build:SYS-PYTHON}, libsasl2-modules-gssapi-mit, libxslt1.1, make
Description: A browser-based desktop interface for Hadoop
 Hue is a browser-based desktop interface for interacting with Hadoop.
 It supports a file browser, job tracker interface, cluster health monitor, and more.

Package: hue
Architecture: all
Depends: hue-common (= ${source:Version}), hue-server (= ${source:Version}), hue-beeswax (= ${source:Version}), hue-oozie (= ${source:Version}), hue-pig (= ${source:Version})
Description: The hue metapackage
 Hue is a browser-based desktop interface for interacting with Hadoop.
 It supports a file browser, job tracker interface, cluster health monitor, and more.

Package: hue-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, hue-common (= ${source:Version})
Description: Service Scripts for Hue
 This package provides the service scripts for Hue server.

Package: hue-beeswax
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.4), python (<< 3), make (>= 3.8), hue-common (= ${source:Version}), hive
Description: A UI for Hive on Hue
 Beeswax is a web interface for Hive.
 .
 It allows users to construct and run queries on Hive, manage tables,
 and import and export data.

Package: hue-oozie
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.4), python (<< 3), make (>= 3.8), hue-common (= ${source:Version}) 
Description: A UI for Oozie on Hue
 A web interface for Oozie.
 .
 It allows users to construct and run Oozie workflows without explicitly managing the XML specification.

Package: hue-pig
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.4), python (<< 3), make (>= 3.8), hue-common (= ${source:Version}) 
Description: A UI for Pig on Hue
 A web interface for Pig.
 .
 It allows users to construct and run Pig jobs.

