# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

Source: hue
Section: misc
Priority: extra
Maintainer: Apache Bigtopr <dev@bigtop.apache.org>
Build-Depends: debhelper (>= 7.0.50~), python2.6-dev | python2.7-dev, libxml2-dev, libxslt1-dev, zlib1g-dev, libsqlite3-dev, libldap2-dev, libsasl2-dev, libmysqlclient-dev, make, python-setuptools, libkrb5-dev, libgmp-dev
Standards-Version: 3.9.4
Homepage: http://github.com/cloudera/hue

Package: hue-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${build:SYS-PYTHON}, libsasl2-modules-gssapi-mit, libxslt1.1, make, python (>= 2.6), libgmp10
Description: A browser-based desktop interface for Hadoop
 Hue is a browser-based desktop interface for interacting with Hadoop.
 It supports a file browser, job tracker interface, cluster health monitor, and more.

Package: hue
Architecture: all
Depends: hue-common (= ${source:Version}), hue-server (= ${source:Version}), hue-beeswax (= ${source:Version}), hue-impala (= ${source:Version}), hue-pig (= ${source:Version}), hue-hbase (= ${source:Version}), hue-search (= ${source:Version}), hue-sqoop (= ${source:Version}), hue-rdbms (= ${source:Version}), hue-security (= ${source:Version}), hue-spark (= ${source:Version}), hue-zookeeper (= ${source:Version})
Description: The hue metapackage
 Hue is a browser-based desktop interface for interacting with Hadoop.
 It supports a file browser, job tracker interface, cluster health monitor, and more.

Package: hue-server
Architecture: all
Depends: ${misc:Depends}, hue-common (= ${source:Version})
Description: Service Scripts for Hue
 This package provides the service scripts for Hue server.

Package: hue-doc
Architecture: all
Description: Documentation for Hue
 This package provides the installation manual, user guide, SDK documentation, and release notes.

Package: hue-beeswax
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Hive on Hue
 Beeswax is a web interface for Hive.
 .
 It allows users to construct and run queries on Hive, manage tables,
 and import and export data.

Package: hue-impala
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Impala
 A web interface for Impala.
 .
 It allows users to construct and run Imapala jobs.


Package: hue-pig
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version}) 
Description: A UI for Pig on Hue
 A web interface for Pig.
 .
 It allows users to construct and run Pig jobs.

Package: hue-hbase
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for HBase on Hue
 A web interface for HBase.
 .
 It allows users to run HBase queries

Package: hue-sqoop
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Sqoop on Hue
 A web interface to Sqoop.

Package: hue-search
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Search on Hue
 A web interface to Search.
 .
 It allows users to interact with Solr

Package: hue-rdbms
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for RDBMS on Hue
 A web interface to RDBMS.
 .
 It allows users to interact with RDBMS

Package: hue-security
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Spark on Hue
 A web interface to roles and security.
 .
 It allows users to interact with Hive roles

Package: hue-spark
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Spark on Hue
 A web interface to Spark.
 .
 It allows users to interact with Spark

Package: hue-useradmin
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for user administration 
 A web interface for user administration
 .
 It allows users to administration of users

Package: hue-zookeeper
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python (<< 3), make (>= 3.8), hue-common (= ${source:Version})
Description: A UI for Zookeeper on Hue
 A web interface to Zookeeper.
 .
 It allows users to interact with Zookeeper

