#!/usr/bin/make -f
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Implicit targets
SHELL := /bin/bash

APPS=beeswax impala pig hbase sqoop search security rdbms spark useradmin zookeeper

$(APPS:%=debian/hue-%.postinst): debian/hue-app.postinst.tpl
	sed -e 's#@APP@#$(patsubst debian/hue-%.postinst,%,$@)#'  < $< > $@

$(APPS:%=debian/hue-%.prerm): debian/hue-app.prerm.tpl
	sed -e 's#@APP@#$(patsubst debian/hue-%.prerm,%,$@)#'  < $< > $@

%:
	dh $@

override_dh_auto_build:
	env FULL_VERSION=${HUE_BASE_VERSION} bash -x debian/do-component-build -Dmaven.repo.local=${HOME}/.m2/repository

override_dh_auto_install: build $(APPS:%=debian/hue-%.postinst) $(APPS:%=debian/hue-%.prerm)
	bash -x debian/install_hue.sh --build-dir=${PWD} --prefix=${PWD}/debian/tmp
	sed -e 's,^,build:,;' debian/tmp/usr/lib/hue/Makefile.buildvars \
	  | tr _ - >> debian/hue-common.substvars

override_dh_installinit:
	dh_installinit --name=hue

override_dh_auto_test:
	@echo Tests are disabled
