Source: hadoop-hive
Section: misc
Priority: extra
Maintainer: Todd Lipcon <todd@cloudera.com>
Build-Depends: debhelper (>= 6), ant, sun-java6-jdk, python-support, git-core
Standards-Version: 3.8.0
Homepage: http://hadoop.apache.org/hive/

Package: hadoop-hive
Architecture: all
Depends: adduser, sun-java6-jre, hadoop
Description: A data warehouse infrastructure built on top of Hadoop
 Hive is a data warehouse infrastructure built on top of Hadoop that
 provides tools to enable easy data summarization, adhoc querying and
 analysis of large datasets data stored in Hadoop files. It provides a
 mechanism to put structure on this data and it also provides a simple
 query language called Hive QL which is based on SQL and which enables
 users familiar with SQL to query this data. At the same time, this
 language also allows traditional map/reduce programmers to be able to
 plug in their custom mappers and reducers to do more sophisticated
 analysis which may not be supported by the built-in capabilities of
 the language.

Package: python-hive
Architecture: all
Section: python
Depends: ${python:Depends}
Provides: ${python:Provides}
XS-Python-Version: >= 2.4
Description: Python client library to talk to the Hive Metastore
 This is a generated Thrift client to talk to the Hive Metastore.

Package: hadoop-hive-server
Architecture: all
Depends: hadoop-hive (= ${source:Version})
Description: Provides a Hive Thrift service
 This optional package hosts a Thrift server for Hive clients across a network to use.

Package: hadoop-hive-metastore
Architecture: all
Depends: hadoop-hive (= ${source:Version})
Description: Shared metadata repository for Hive
 This optional package hosts a metadata server for Hive clients across a network to use.
