# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
Source: zookeeper
Section: misc
Priority: extra
Maintainer: Bigtop <dev@bigtop.apache.org>
Build-Depends: debhelper (>= 7.0.50~), autoconf, automake
Standards-Version: 3.9.6
Homepage: http://zookeeper.apache.org/

Package: zookeeper
Architecture: all
Depends: adduser, bigtop-utils (>= 0.7)
Description: A high-performance coordination service for distributed applications.
 ZooKeeper is a centralized service for maintaining configuration information, naming, providing distributed synchronization, and providing group services.  All of these kinds of services are used in some form or another by distributed applications. Each time they are implemented there is a lot of work that goes into fixing the bugs and race conditions that are inevitable. Because of the difficulty of implementing these kinds of services, applications initially usually skimp on them ,which make them brittle in the presence of change and difficult to manage. Even when done correctly, different implementations of these services lead to management complexity when the applications are deployed.

Package: zookeeper-server
Architecture: all
Depends: zookeeper (= ${source:Version})
Description: The Hadoop Zookeeper server
 This package starts the zookeeper server on startup

Package: zookeeper-rest
Architecture: all
Depends: zookeeper (= ${source:Version}), lsb-base
Description: The Zookeeper REST server
 This package starts the zookeeper REST server on startup

Package: zookeeper-native
Architecture: any
Depends: zookeeper (= ${source:Version}),  ${shlibs:Depends} 
Description: C bindings for ZooKeeper clients
 Provides native libraries and development headers for C / C++ ZooKeeper clients. Consists of both single-threaded and multi-threaded implementations.

