#!/usr/bin/make -f
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# 
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

zookeeper_pkg_name=zookeeper

%:
	dh $@

override_dh_auto_build:
	bash debian/do-component-build -Divy.home=${HOME}/.ivy2
	mkdir -p debian/tmp
	tar cf - --exclude=debian/\* . | (cd debian/tmp && tar xf -)

override_dh_auto_install:
	cp debian/zookeeper.1 debian/zoo.cfg debian/zookeeper.default .
	bash -x debian/install_zookeeper.sh \
	  --build-dir=build/zookeeper-${ZOOKEEPER_BASE_VERSION} \
	  --prefix=debian/$(zookeeper_pkg_name)
	   # Move native files to a dedicated package
	   mkdir -p debian/zookeeper-native/usr/bin
	   mkdir -p debian/zookeeper-native/usr/lib
	   mv debian/zookeeper/usr/bin/cli_* debian/zookeeper/usr/bin/load_gen debian/zookeeper-native/usr/bin/
	   mv debian/zookeeper/usr/lib/libzookeeper* debian/zookeeper-native/usr/lib/
	   mv debian/zookeeper/usr/lib/zookeeper-native debian/zookeeper-native/usr/lib/
	   mv debian/zookeeper/usr/include debian/zookeeper-native/usr/include
	bash debian/init.d.tmpl debian/zookeeper-rest.svc deb debian/zookeeper-rest.init

override_dh_strip:
	dh_strip --no-automatic-dbgsym
