Source: bigtop-select
Section: unknown
Priority: optional
Maintainer: Bigtop <dev@bigtop.apache.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/bigtop-select
#Vcs-Git: https://salsa.debian.org/debian/bigtop-select.git

Package: bigtop-select
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
