#!/usr/bin/make -f
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

build_version=${FLUME_VERSION}

patch: patch-stamp
patch-stamp:	
	touch $@

clean:	
	dh_testdir
	dh_testroot
	rm -f *-stamp
	dh_clean
	rm -Rf debian/tmp debian/flume-ng
	find debian -name .\*swp -exec rm -f {} \;

build-indep: build-indep-stamp
build-indep-stamp: patch-stamp
	# No easy way to disable the default RAT run which fails the build because of some fails in the debian/ directory
	rm -rf bigtop-empty
	mkdir -p bigtop-empty
	# I could not find a way to add debian/ to RAT exclude list through cmd line
	# or to unbind rat:check goal
	# So I am redirecting its attention with a decoy
	env FLUME_VERSION=$(build_version) \
		sh debian/do-component-build -Drat.basedir=${PWD}/bigtop-empty -Dmaven.repo.local=${HOME}/.m2/repository
	touch $@

install: install-indep
install-indep:
	dh_testdir
	dh_testroot
	sh -x debian/install_flume-ng.sh \
	  --build-dir=${PWD} \
	  --prefix=debian/flume-ng
	# Remove hadoop dependency and instead symlink in the hadoop jar
	rm debian/flume-ng/usr/lib/flume-ng/lib/hadoop-*
	ln -s /usr/lib/hadoop/hadoop-common.jar debian/flume-ng/usr/lib/flume-ng/lib/hadoop-common.jar
	ln -s /usr/lib/hadoop/hadoop-auth.jar debian/flume-ng/usr/lib/flume-ng/lib/hadoop-auth.jar
	dh_install -i

binary-common:	
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installinit
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-arch:
binary: binary-indep
.PHONY: build clean binary-indep binary install-indep binary-arc
