# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

maxClientCnxns=50
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir=<%= @datadir %>
<% if !@client_bind_addr.nil? && !@client_bind_addr.empty? %>
# bind to this network ip/interface
clientPortAddress=<%= @client_bind_addr %>
<% end %>
# the port at which the clients will connect
clientPort=<%= @port %>
<% if !@ensemble[0].nil? && @ensemble[0].length == 2 %>
  <% @ensemble.each do |idx, ip| %>
server.<%= idx %>=<%= ip %>
  <% end %>
<% else %>
  <% @ensemble.each_with_index do |server,idx| %>
server.<%= idx %>=<%= server %>
  <% end %>
<% end %>
# purge snapshots every day
<% if !@autopurge_purge_interval.nil? && !@autopurge_purge_interval.empty? -%>
autopurge.purgeInterval=<%= @autopurge_purge_interval %>
<% else -%>
autopurge.purgeInterval=24
<% end -%>
<% if !@autopurge_snap_retain_count.nil? && !@autopurge_snap_retain_count.empty? -%>
autopurge.snapRetainCount=<%= @autopurge_snap_retain_count %>
<% end %>

<% if @kerberos_realm != "" -%>
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
jaasLoginRenew=3600000

# HBase needs these configs so that different hbase daemons 
# (master, regionservers), which run on different hosts, can 
# read from and write to znodes that others create
kerberos.removeHostFromPrincipal=true
kerberos.removeRealmFromPrincipal=true
<% end -%>
