#!/usr/bin/make -f
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# 
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

DISTRO_CODENAME=$(shell lsb_release -sc)

patch: patch-stamp
patch-stamp:	
	touch $@

build:
	dh_testdir
	dh_clean -k
	

build-indep: build-indep-stamp
build-indep-stamp: patch-stamp
	touch $@

clean:	
	dh_testdir
	dh_testroot
	rm -f *-stamp
	dh_clean
	find debian -name .\*swp -exec rm -f {} \;

install: install-indep
install-indep:	
	dh_installdirs 
	# Copy repo file
	install -d -p -m 755 debian/bigtop-utils/usr/lib/bigtop-utils/
	install -p -m 755 debian/bigtop-detect-javahome debian/bigtop-utils/usr/lib/bigtop-utils/
	install -d -p -m 755 debian/bigtop-utils/etc/default
	install -p -m 644 debian/bigtop-utils.default debian/bigtop-utils/etc/default/bigtop-utils
	dh_install


binary-common:
	dh_testdir
	dh_testroot
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdocs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common
binary: binary-indep

.PHONY: clean install-indep binary-arc
