# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
Source: hbase
Section: misc
Priority: extra
Maintainer: Bigtop <bigtop-dev@incubator.apache.org>
Build-Depends: debhelper (>= 6), git-core, adduser
Standards-Version: 3.8.0
Homepage: http://hbase.apache.org/

Package: hbase
Architecture: all
Depends: adduser, zookeeper (>= 3.3.1), hadoop-hdfs, bigtop-utils
Recommends: ntp
Description: HBase is the Hadoop database
 Use it when you need random, realtime read/write access to your Big Data. 
 This project's goal is the hosting of very large tables -- billions of rows  
 X millions of columns -- atop clusters of commodity hardware.

Package: hbase-doc
Architecture: all
Section: doc
Description: Documentation for HBase
 This package contains the HBase manual and JavaDoc.

Package: hbase-master
Architecture: all
Depends: hbase (= ${source:Version}) 
Description: HMaster is the "master server" for a HBase
 There is only one HMaster for a single HBase deployment.

Package: hbase-regionserver
Architecture: all
Depends: hbase (= ${source:Version}) 
Description: HRegionServer makes a set of HRegions available to clients
 It checks in with the HMaster. There are many HRegionServers in a single 
 HBase deployment.

Package: hbase-rest
Architecture: all
Depends: hbase (= ${source:Version})
Description: The Apache HBase REST gateway
 The Apache HBase REST gateway

Package: hbase-thrift
Architecture: all
Depends: hbase (= ${source:Version}) 
Description: Provides an HBase Thrift service
 This package provides a Thrift service interface to the HBase distributed
 database.
